.cardContainer{
    max-width: 20rem;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.cardContainer p{
    margin-top: 0rem;
    line-height: 25px;
    color: #5F5F7C;
}

.headerWrapper h1 {
    color: var(--brand-navy);
    font-size: 1.125rem;
}

.headerWrapper{
    display: flex;
    align-items: center;
}

.icon svg {
    font-size: 3.5rem;
    margin-right: 1rem;
    color: var(--brand-green);
}

.cardButton {
    border: none;
    background: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    transition: color 450ms;
    color: var(--brand-navy)
}

.cardButton span{
    display: flex;
    margin-left: .5rem;
    transition: margin-left 450ms;
}

.cardButton:hover span {
    margin-left: .75rem;
    cursor: pointer;
}

.cardButton:hover {
    cursor: pointer;
    color: var(--brand-green);
}


@media screen and (min-width: 740px) {
    .cardContainer{
        max-width: 29rem;
        padding: 1rem;
        flex-basis: 20rem;
        /* margin: 0 auto; */
    }

    .headerWrapper h1 {
        font-size: 1.65rem;
    }

    .cardContainer p{
        padding: 0 .5rem;
        font-size: 1.1rem;
        line-height: 27px;
    }
}

