.listContainer{
    max-width: 25rem;
    padding: 1rem;
    background-color: #F2F4F4;
}

.listItemWrapper {
    display: flex;
    align-items: center;
    /* color: var(--brand-navy) */
}

.listWrapper {
    padding: 0;
    margin: 0 auto;
    max-width: 90%;
}

.listContainer h1  {
    color: var(--brand-navy);
    margin-left: 1rem;
}

.listContainer p {
    font-size: 1.2rem;
    color: var(--brand-navy);
}

.icon {
    margin-right: 1rem;
    font-size: 1.2rem;
    color: var(--brand-navy);
}