.heroContainer {
    width: 100vw;
    margin-bottom: 4rem;
    background-image: linear-gradient(to left, rgba(1, 45, 89,.5), rgba(1, 45, 89, .5));
    background-color: var(--brand-navy);
}

.heroWrapper{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    /* position: absolute; */    
    max-width: 80%;
    margin: 0 auto;
    top: 2rem;
}

.heroContainer .heroImgMobile{
    position: relative;
    display: block;
    height: 100%;
    /* width: 400px; */
    z-index: -2;
}


.heroContainer h1 {
    font-size: 1.7rem;
    color: var(--brand-white);
}

.heroContainer p {
    line-height: 32px;
    font-size: 1.2rem;
    color: var(--brand-white);
}

/* .heroContainer .heroImg {
    display: none;
} */


@media screen and (min-width: 740px) {
    /* .heroContainer .heroImgMobile {
        display: none;
    } */

    .heroContainer {
        /* display: flex;
        align-items: center;
        justify-content: center; */
        /* text-align: left; */
        /* height: 20vh; */
        background: none;
        background-image: linear-gradient(to left, rgba(1, 45, 89,.3), rgba(1, 45, 89, .3));
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .heroWrapper{
        /* margin: 5rem auto; */
        max-width: 1080px;
      /* height: 30rem; */
      background-color: var(--brand-navy);
      padding: 4rem 2rem;
    }

    .heroContainer .heroImg{
        position: relative;
        display: block;
        height: 30rem;
        width: 100%;
        z-index: -2;
    }

    .heroContainer h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
        color: var(--brand-white);
    }
    
    .heroContainer p {
        /* line-height: 3.3rem;*/
        font-size: 1.4rem; 
        color: var(--brand-white);
        font-weight: 200;
    }
}
