.heroContainer {
    width: 100vw;
    margin-bottom: 4rem;
    background-image: linear-gradient(to left, rgba(1, 45, 89,.5), rgba(1, 45, 89, .5));
    background-color: var(--brand-navy);
}

.heroWrapper{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    top: 2rem;
}

.heroContainer .heroImg {
    width: 100%;
}


.heroContainer h1 {
    font-size: 1.7rem;
    color: var(--brand-white);
}

.heroContainer p {
    line-height: 32px;
    font-size: 1.2rem;
    color: var(--brand-white);
}


@media screen and (min-width: 740px) {
    .heroContainer {
        background: none;
        background-image: linear-gradient(to left, rgba(1, 45, 89,.3), rgba(1, 45, 89, .3));
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    .heroWrapper{
        max-width: 1080px;
        background-color: var(--brand-navy);
        padding: 4rem 3rem;
    }

    .heroContainer .heroImg{
        position: relative;
        display: block;
        height: 27rem;
        width: 100%;
        z-index: -2;
    }

    .heroContainer h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
        color: var(--brand-white);
    }
    
    .heroContainer p {
        font-size: 1.4rem; 
        color: var(--brand-white);
        font-weight: 200;
    }
}
